:root {
  --blur: 0;
  --contrast: 100%;
  --textColor: #fff;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #3F51B5;
}

.main {
  padding: 40px;
  display: flex;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.label {
  color: #fff;
  font-size: 24px;
  display: block;
  margin-bottom: 10px;
}

input {
  display: block;
  width: 100%;
}

.main__controls {
  margin-right: 40px;
}

.main__frame {
  position: relative;
  border: 20px solid #fff;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  background: #000;
  font-size: 40px;
  color: var(--textColor);
  padding: 20px;
  margin: 0;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
  filter: blur(var(--blur)) contrast(var(--contrast));
}

